# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore temporary files and directories
tmp/
*.tmp
*.swp
*.bak

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Dockerfile itself
Dockerfile

# Ignore git repository files
.git
.gitignore

# Ignore environment variables files
.venv

# Ignore pytest cache
.pytest_cache/

# Ignore mypy cache
.mypy_cache/

# # Ignore Django migrations
# **/migrations/

# Ignore SQLite database files
db/db.sqlite3
*.sqlite3

# Ignore static and media files if they are generated during runtime
static/
media/