[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-stubs = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-stubs = "*"
factory-boy = "*"
drf-spectacular = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest-django = "*"
ipython = "*"

[requires]
python_version = "3.12"
